@model bool

@if(Model)
{
    <div class="d-flex">
        <label></label>
        <button class="btn btn-outlined-primary">Logout</button>
    </div>
}
else
{
    <div class="d-flex">
        <button class="btn btn-outlined-primary">Login</button>
    </div>
}
